<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lyc.easyreader.bookshelf">

    <application>
        <activity
            android:name=".scan.BookScanActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".reader.ReaderActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".reader.settings.ReaderSettingsActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".collect.CollectActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".secret.SecretActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".secret.password.PasswordActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".secret.settings.SecretSettingsActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".batch.BookBatchManageActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.BookBatchManageActivity" />
    </application>
</manifest>
